img {
  width: 100%;
}
mat-toolbar {
  display: flex;
  justify-content: space-between;

  &.footer-toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

app-project-tracker {
  width: 100%;
}
