@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  height: 100%;

  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html {
  height: 100%;
}
html,
body {
  overflow-x: hidden;
}
mat-card {
  padding: 8px;
  margin: 16px 8px;

  mat-card-title {
    padding: 8px 0;
    font-size: medium !important;
    font-weight: 500 !important;
  }
  mat-card-subtitle {
    padding-left: 2px !important;
    color: #666 !important;
    font-size: 0.9rem !important;
  }
  mat-card-content {
    padding: 8px;
  }
}

.mat-icon.fa,
.mat-icon.fab {
  font-size: 20px;
  vertical-align: middle;
}

.mat-app-background {
  margin: 0 !important;
  padding: 0 !important;
}

.no-background {
  background-color: transparent !important;
  box-shadow: none !important;
}

.full-height-sheet .mat-bottom-sheet-container {
  height: 95vh !important;
  max-height: 95vh !important;
}
.mat-mdc-dialog-surface {
  background: transparent !important;
}
