button {
  margin: 8px;
  border-radius: 25px;
}
.jumbotron {
  color: var(--mat-sys-primary);
  margin-bottom: 32px;
  font-weight: bold;

  .jumbo-text {
    font-family: 'Space Mono', 'Roboto Mono', monospace;
    font-size: 4.75rem;
    text-align: center;
  }
  .jumbo-post-text {
    text-align: right;
  }
}
