<mat-card class="mat-elevation-z0 no-background">
  <mat-card-content>
    <div class="jumbotron">
      <div class="jumbo-pre-text">Hello, my name is</div>
      <div class="jumbo-text">&lt;MIKE/&gt;</div>
      <div class="jumbo-post-text">and I solve problems with code.</div>
    </div>
    <p>I am currently a <b>Software Engineer</b> in <b>Milwaukee, WI</b></p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button>
      <mat-icon
        fontSet="fa"
        fontIcon="fa-angle-down"
        aria-hidden="false"
        aria-label="like"></mat-icon>
      More
    </button>
    <button mat-flat-button color="primary">
      <mat-icon
        fontSet="fa"
        fontIcon="fa-file-arrow-down"
        aria-hidden="false"
        aria-label="like"></mat-icon>
      Resume
    </button>
  </mat-card-actions>
</mat-card>
