@if (loaded) {
  <mat-card class="mat-elevation-z0 no-background">
    <mat-card-content>
      <div class="jumbotron">
        <div class="jumbo-pre-text">Hello, my name is</div>
        <div class="jumbo-text">&lt;MIKE/&gt;</div>
        <div class="jumbo-post-text">and I solve problems with code.</div>
      </div>
      @if (employmentStatus) {
        <p>
          I am currently a <b>{{ employmentStatus.title }}</b> in
          <b>{{ employmentStatus.location }}</b>
        </p>
      } @else {
        <p>
          I am currently <b><em>looking for work.</em></b>
        </p>
      }
    </mat-card-content>
    <mat-card-actions class="cta-bar">
      <button
        mat-stroked-button
        color="primary"
        class="see-more"
        (click)="seeMore.emit()"
        aria-label="See more">
        <mat-icon>arrow_downward</mat-icon>
        See more
      </button>

      <a
        mat-flat-button
        color="primary"
        href="/assets/ResumeMikePawlak.pdf"
        target="_blank"
        (click)="trackResumeDownload()"
        download>
        <mat-icon fontSet="fa" fontIcon="fa-file-arrow-down"></mat-icon>
        Resume
      </a>
    </mat-card-actions>

    <app-social-buttons></app-social-buttons>
  </mat-card>
} @else {
  <mat-card class="mat-elevation-z0 no-background">
    <mat-card-content>
      <div class="sk-jumbotron">
        <ngx-skeleton-loader
          class="sk-pre"
          appearance="line"></ngx-skeleton-loader>

        <ngx-skeleton-loader
          class="sk-jumbo"
          appearance="line"></ngx-skeleton-loader>

        <ngx-skeleton-loader
          class="sk-post"
          appearance="line"></ngx-skeleton-loader>
      </div>

      <ngx-skeleton-loader
        class="sk-status"
        appearance="line"></ngx-skeleton-loader>
    </mat-card-content>

    <mat-card-actions class="cta-skeleton-bar">
      <ngx-skeleton-loader
        class="sk-cta see-more"
        appearance="line"></ngx-skeleton-loader>
      <ngx-skeleton-loader
        class="sk-cta resume"
        appearance="line"></ngx-skeleton-loader>
    </mat-card-actions>
  </mat-card>
}
