@if (loaded) {
  <mat-card class="mat-elevation-z0 no-background">
    <mat-card-content>
      <div class="jumbotron">
        <div class="jumbo-pre-text">Hello, my name is</div>
        <div class="jumbo-text">&lt;MIKE/&gt;</div>
        <div class="jumbo-post-text">and I solve problems with code.</div>
      </div>
      @if (employmentStatus) {
        <p>
          I am currently a <b>{{ employmentStatus.title }}</b> in
          <b>{{ employmentStatus.location }}</b>
        </p>
      } @else {
        <p>
          I am currently <b><em>looking for work.</em></b>
        </p>
      }
    </mat-card-content>
    <mat-card-actions class="cta-bar">
      <button
        mat-stroked-button
        color="primary"
        class="see-more"
        (click)="seeMore.emit()"
        aria-label="See more">
        <mat-icon>arrow_downward</mat-icon>
        See more
      </button>

      <a
        mat-flat-button
        color="primary"
        href="/assets/ResumeMikePawlak.pdf"
        target="_blank"
        (click)="trackResumeDownload()"
        download>
        <mat-icon fontSet="fa" fontIcon="fa-file-arrow-down"></mat-icon>
        Resume
      </a>
    </mat-card-actions>

    <app-social-buttons></app-social-buttons>
  </mat-card>
} @else {
  <mat-card class="mat-elevation-z0 no-background">
    <mat-card-content>
      <ngx-skeleton-loader [count]="1" appearance="line"></ngx-skeleton-loader>
      <ngx-skeleton-loader
        [count]="1"
        appearance="line"
        [theme]="{ height: '100px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [count]="2" appearance="line"></ngx-skeleton-loader>
    </mat-card-content>
    <mat-card-actions align="end">
      <ngx-skeleton-loader
        [count]="2"
        appearance="circle"
        class="cta-skeleton"
        [theme]="{
          'border-radius': '25px',
          width: '110px',
          float: 'right',
        }"></ngx-skeleton-loader>
    </mat-card-actions>
  </mat-card>
}
