mat-card {
  margin: 32px 8px;

  mat-card-subtitle {
    font-weight: normal !important;
  }

  mat-card-content {
    padding-top: 16px;

    form {
      max-width: 700px;
      margin: 0px auto;

      .form-row {
        width: 100%;
        display: flex;

        mat-form-field {
          width: 100%;
          margin: 8px;
        }
      }
      .form-actions {
        button {
          float: right;
          margin: 8px;
        }
      }
    }

    .submission-success {
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;

      mat-icon {
        width: 150px;
        height: 150px;
        justify-content: center;
        vertical-align: baseline;
        display: flex;
        padding: 2px;
        font-size: 75px !important;
        color: var(--mat-sys-primary);
      }
    }
  }
}

@media (max-width: 600px) {
  .form-row {
    flex-direction: column;

    mat-form-field {
      flex: 1 1 100%;
      margin: 8px 0;
    }
  }
}
