<mat-card>
  <mat-card-title>
    @if (formSubmitted) {
      <span @fadeInOut>Thank you for your interest</span>
    } @else {
      <span @fadeInOut>Get In Touch!</span>
    }
  </mat-card-title>
  <mat-card-subtitle>
    @if (formSubmitted) {
      <span @fadeInOut
        >I will be contacting you shortly to follow up on your message.</span
      >
    } @else {
      <span @fadeInOut
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit…</span
      >
    }
  </mat-card-subtitle>

  <mat-card-content>
    @if (formSubmitted) {
      <div class="submission-success" @fadeInOut>
        <mat-icon fontSet="fa" fontIcon="fa-circle-check"></mat-icon>
      </div>
    } @else {
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" @fadeInOut>
        <div class="form-row">
          <mat-form-field floatLabel="auto">
            <mat-label>
              <mat-icon fontSet="fa" fontIcon="fa-person"></mat-icon>
              Name
            </mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>

          <mat-form-field floatLabel="auto">
            <mat-label>
              <mat-icon fontSet="fa" fontIcon="fa-envelope"></mat-icon>
              Email
            </mat-label>
            <input matInput formControlName="email" />
            @if (
              contactForm.get('email')?.hasError('required') &&
              contactForm.get('email')?.touched
            ) {
              <mat-error> Email is required </mat-error>
            } @else if (
              contactForm.get('email')?.hasError('email') &&
              contactForm.get('email')?.touched
            ) {
              <mat-error> Must be a valid email </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field floatLabel="auto">
            <mat-label>
              <mat-icon fontSet="fa" fontIcon="fa-building"></mat-icon>
              Company
            </mat-label>
            <input matInput formControlName="company" />
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field floatLabel="auto">
            <mat-label>
              <mat-icon fontSet="fa" fontIcon="fa-message"></mat-icon>
              Message
            </mat-label>
            <textarea matInput formControlName="message"></textarea>
            <mat-hint align="end">
              {{ contactForm.get('message')?.value?.length || 0 }} / 500
            </mat-hint>
            @if (
              contactForm.get('message')?.hasError('required') &&
              contactForm.get('message')?.touched
            ) {
              <mat-error> Message is required </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="form-actions">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="contactForm.invalid || contactForm.pristine">
            Send
          </button>
        </div>
      </form>
    }
  </mat-card-content>
</mat-card>
