<app-title></app-title>
<div class="content-container">
  <app-social-buttons></app-social-buttons>
  <span class="section-title">work history</span>
  <app-work-history-list></app-work-history-list>
  <span class="section-title has-subtitle">projects</span>
  <span class="section-subtitle"
    >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor</span
  >
  <app-project-list></app-project-list>
  <app-contact-form></app-contact-form>
</div>
<app-footer></app-footer>
