mat-card {
  mat-card-content {
    .chip-wrapper {
      mat-chip {
        margin: 2px;
        color: #666;
      }
    }

    ul {
      padding-inline-start: 16px;
    }
  }
}
mat-card:first-of-type {
  margin-top: 0px;
}
