.title-wrapper {
  display: flex;
  justify-content: space-between;
  vertical-align: baseline;
  div {
    padding: 8px 0px;
    font-weight: 500px;
    font-size: 1.2em;
  }
  button {
    position: absolute;
    top: 3px;
    right: 3px;
  }
}
img {
  width: 100%;
}

.subtitle {
  color: #666;
  font-size: 0.8em;
  font-weight: 600;
  margin-top: 0px;
}

app-project-tracker {
  width: 100%;
}
