<mat-card>
  <mat-card-title>{{ experience.title }}</mat-card-title>
  <mat-card-subtitle>{{ experience.company }}</mat-card-subtitle>
  <mat-card-subtitle>
    {{ experience.startDate.toDate() | date: "MMM ''yy" }} -
    {{
      experience.endDate
        ? (experience.endDate.toDate() | date: "MMM ''yy")
        : 'Present'
    }}
  </mat-card-subtitle>
  <mat-card-content>
    <p>
      {{ experience.description }}
    </p>
    @if (expanded) {
      <h4>Highlights</h4>
      <ul @fadeInOut>
        @for (highlight of experience.highlights; track highlight) {
          <li>{{ highlight }}</li>
        }
      </ul>
      <div class="chip-wrapper" @fadeInOut>
        @for (skill of experience.skills; track skill) {
          <mat-chip>{{ skill }}</mat-chip>
        }
      </div>
    }
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="toggle()">
      <mat-icon
        fontSet="fa"
        [fontIcon]="expanded ? 'fa-angle-up' : 'fa-angle-down'"
        aria-hidden="false"
        aria-label="toggle details"></mat-icon>
      {{ expanded ? 'Less' : 'More' }}
    </button>
  </mat-card-actions>
</mat-card>
