<div class="social-button-row">
  <a
    mat-icon-button
    class="mat-elevation-z1"
    href="mailto:mike@mikepawlak.com"
    aria-label="email"
    (click)="trackExternal('email')">
    <mat-icon
      fontSet="fa"
      fontIcon="fa-envelope"
      aria-hidden="false"></mat-icon>
  </a>

  <a
    mat-icon-button
    class="mat-elevation-z1"
    href="https://github.com/mikepawlak"
    target="_blank"
    rel="noopener"
    aria-label="github"
    (click)="trackExternal('github')">
    <mat-icon fontSet="fab" fontIcon="fa-github" aria-hidden="false"></mat-icon>
  </a>

  <a
    mat-icon-button
    class="mat-elevation-z1"
    href="https://linkedin.com/in/pawlak-mike"
    target="_blank"
    rel="noopener"
    aria-label="linkedin"
    (click)="trackExternal('linkedin')">
    <mat-icon
      fontSet="fab"
      fontIcon="fa-linkedin"
      aria-hidden="false"></mat-icon>
  </a>
</div>
