<div class="social-button-row">
  <button mat-icon-button class="mat-elevation-z1">
    <mat-icon
      fontSet="fa"
      fontIcon="fa-envelope"
      aria-hidden="false"
      aria-label="email"></mat-icon>
  </button>
  <button mat-icon-button class="mat-elevation-z1">
    <mat-icon
      fontSet="fab"
      fontIcon="fa-github"
      aria-hidden="false"
      aria-label="github"></mat-icon>
  </button>
  <button mat-icon-button class="mat-elevation-z1">
    <mat-icon
      fontSet="fab"
      fontIcon="fa-linkedin"
      aria-hidden="false"
      aria-label="linkedin"></mat-icon>
  </button>
</div>
