a {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-behavior: normal;
  transition-duration: 280ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  transition-property: box-shadow;
  box-shadow: var(
    --mdc-protected-button-container-elevation-shadow,
    var(--mat-sys-level1)
  );
  background-color: var(--mat-sys-background);
  margin: 8px;
}
